<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="web">
            <group id="url">
                <field id="catalog_media_url_format_custom_type" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Custom URL format</label>
                    <source_model>Fruitcake\CustomImageUrl\Model\Config\Source\CustomUrlType</source_model>
                    <depends>
                        <field id="catalog_media_url_format">image_optimization_parameters</field>
                    </depends>
                </field>
                <field id="catalog_media_url_format_custom_pattern" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                    <label>Custom URL format</label>
                    <depends>
                        <field id="catalog_media_url_format_custom_type">pattern</field>
                    </depends>
                    <comment><![CDATA[Custom format to add dynamic parameters.<br/>
                    <b>Available variables:</b> {{base_url}}, {{base_url_media}}, {{image_url}}, {{file_path}}, {{path}}, {{width}}, {{height}}, {{image_type}}, {{url_host}}, {{url_path}}, {{url_query}}, {{store}}. <br/><br/>
                    <b>Filters:</b> {{path|urlencode}}, {{path|rawurlencode}}, {{path|base64}}<br/>
                    <b>Example:</b> {{base_url}}{{path}}?w={{width}}&h={{height}}]]></comment>
                </field>
                <field id="catalog_media_url_format_custom_imgproxy_host" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                    <label>Imgproxy Host</label>
                    <depends>
                        <field id="catalog_media_url_format_custom_type">imgproxy</field>
                    </depends>
                    <comment><![CDATA[The host the Imgproxy instance can be reached, eg https://example.com:8080/]]></comment>
                </field>
                <field id="catalog_media_url_format_custom_imgproxy_key" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                    <label>Imgproxy Key</label>
                    <depends>
                        <field id="catalog_media_url_format_custom_type">imgproxy</field>
                    </depends>
                    <comment><![CDATA[The IMGPROXY_KEY value, if signing is required]]></comment>
                </field>
                <field id="catalog_media_url_format_custom_imgproxy_salt" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                    <label>Imgproxy Salt</label>
                    <depends>
                        <field id="catalog_media_url_format_custom_type">imgproxy</field>
                    </depends>
                    <comment><![CDATA[The IMGPROXY_SALT value, if signing is required]]></comment>
                </field>
                <field id="catalog_media_url_format_custom_imgproxy_resize" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                    <label>Imgproxy Resize Type</label>
                    <depends>
                        <field id="catalog_media_url_format_custom_type">imgproxy</field>
                    </depends>
                    <source_model>Fruitcake\CustomImageUrl\Model\Config\Source\ImgproxyResizeType</source_model>

                    <comment><![CDATA[The Resize type]]></comment>
                </field>
                <field id="catalog_media_url_format_custom_imgproxy_source_type" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                    <label>Imgproxy Source Type</label>
                    <depends>
                        <field id="catalog_media_url_format_custom_type">imgproxy</field>
                    </depends>
                    <source_model>Fruitcake\CustomImageUrl\Model\Config\Source\ImgproxySourceType</source_model>
                    <comment><![CDATA[Use URL to proxy the URL directly. Otherwise the path be passed (eg /media/catalog etc)]]></comment>
                </field>
                <field id="catalog_media_url_format_custom_imgproxy_source_prefix" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                    <label>Imgproxy Source Prefix</label>
                    <depends>
                        <field id="catalog_media_url_format_custom_type">imgproxy</field>
                        <field id="catalog_media_url_format_custom_imgproxy_source_type" separator=",">local,s3</field>
                    </depends>
                    <comment><![CDATA[For s3, provide both the bucket and optional prefix.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
